<%- include('partials/header') %>

<div class="container py-5">
  <div class="row g-4">

    <!-- MTN -->
    <div class="col-lg-4">
      <div class="card shadow-sm">
        <img src="/images/mtn.png" class="card-img-top card-img-small">
        <div class="card-body">
          <h5 class="text-warning fw-bold">MTN</h5>
          <p class="text-muted">Buy MTN data bundles instantly.</p>
        </div>
        <div class="card-footer bg-white">
          <a href="/buy" class="btn w-100" style="background:#FFCC00">Buy Now</a>
        </div>
      </div>
    </div>

    <!-- Vodafone -->
    <div class="col-lg-4">
      <div class="card shadow-sm">
        <img src="/images/tel.png" class="card-img-top card-img-small">
        <div class="card-body">
          <h5 class="text-danger fw-bold">Telcel</h5>
          <p class="text-muted">Fast telecel data delivery.</p>
        </div>
        <div class="card-footer bg-white">
          <a href="/" class="btn btn-danger w-100">Buy Now</a>
        </div>
      </div>
    </div>

    <!-- Telcel -->
    <div class="col-lg-4">
      <div class="card shadow-sm">
        <img src="/images/at.png" class="card-img-top card-img-small">
        <div class="card-body">
          <h5 class="text-primary fw-bold">AT</h5>
          <p class="text-muted">Affordable Airtel Tigo bundles.</p>
        </div>
        <div class="card-footer bg-white">
          <a href="/" class="btn btn-primary w-100">Buy Now</a>
        </div>
      </div>
    </div>

  </div>
</div>

<%- include('partials/footer') %>
